img {
  /* block-size: 200px; */
  width: 250px;
  height: auto;
  align: left;
}

h1 {
  text-align: center;
}

.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    background-color:rgb(191, 227, 243);
    grid-template-areas:
        "duck survey-area"
        "duck survey-area"
        "duck survey-area"
}

fieldset {
    border: none;
}

.survey-area {
  display: block;
}

